<p-dialog *ngIf="userform" header="{{title}}" [(visible)]="display" [modal]="true" [responsive]="true" [width]="900"
          [minWidth]="200" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
    <span>
      <div class="login-wrap">
  <div class="login-html">
    <div class="login-form">
      <div class="sign-up-htm">
        <form [formGroup]="userform">
          <div class="group ui-grid-row">
            <div class="ui-grid-col-4" style="padding: 20px;">
              <label class="label">Event Name</label></div>
            <div class="ui-grid-col-6">
              <input pInputText class="input" type="text" formControlName="name" placeholder="Required"/></div>
            <div class="ui-grid-col-6">
              <p-message severity="error" text="Event Name is required"
                         *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty"></p-message>
            </div>
          </div>
          <div class="group ui-grid-row">
            <div class="ui-grid-col-4" style="padding: 20px;">
              <label class="label">Event Start Date</label></div>
            <div class="ui-grid-col-6">
              <p-calendar formControlName="start" [showIcon]="true"></p-calendar>
            <div class="ui-grid-col-6">
              <p-message severity="error" text="Event Start Date is required"
                         *ngIf="!userform.controls['start'].valid&&userform.controls['start'].dirty"></p-message>
            </div>
          </div>
          </div>
           <div class="group ui-grid-row">
            <div class="ui-grid-col-4" style="padding: 20px;">
              <label class="label">Event End Date</label></div>
            <div class="ui-grid-col-6">
              <p-calendar formControlName="end" [showIcon]="true" ></p-calendar>
            <div class="ui-grid-col-6">
              <p-message severity="error" text="Event End Date is required"
                         *ngIf="!userform.controls['end'].valid&&userform.controls['end'].dirty"></p-message>
            </div>
          </div>
          </div>

          <div class="group ui-grid-row">
            <div class="ui-grid-col-4" style="padding: 20px;">
              <label class="label">Description</label></div>
            <div class="ui-grid-col-6">
              <input pInputText class="input" type="text" formControlName="description" placeholder="Required"/></div>
            <div class="ui-grid-col-6">
              <p-message severity="error" text="description"
                         *ngIf="!userform.controls['description'].valid&&userform.controls['description'].dirty"></p-message>
            </div>
          </div>
        </form>
    </div>

    </div>
  </div>
</div>

    </span>
  <p-footer>
    <button type="button" *ngIf="type === 'create'" pButton [disabled]="!userform.valid"
            (click)="onSubmit(userform.value)" label="Create"></button>
    <button type="button" *ngIf="type==='modify'" pButton [disabled]="!userform.valid"
            (click)="onModify(userform.value)" label="Modify"></button>
    <button type="button" pButton (click)="onCancel()" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayEventDialog">
  <h3>{{dialogMessage}}</h3>
  <div>
    <p-button label="Yes" (onClick)="choice('yes')"></p-button>
    <p-button label="No" (onClick)="choice('no')"></p-button>
  </div>
</p-dialog>


<p-splitButton
  (onClick)="CalendarView(!showCalendarView)" [model]="calendarItem"
  label="Switch View"
></p-splitButton>
<button type="button" style="margin: 5px" (click)="showDialog('create')" pButton
        label="CreateEvent"></button>
<button type="button" style="margin: 5px" [disabled]="!(event && userID===event.userID)" (click)="showDialog('modify')" pButton
        label="ModifyEvent"></button>
<button type="button" style="margin: 5px" [disabled]="!(event && userID===event.userID)" (click)="showEventManagementDialog('del')" pButton
        label="DelEvent"></button>
<!--<button *ngIf="!showJoinedEvents && !showMyEvents" pButton type="button"
        label="JoinEvent"  (click)="showEventManagementDialog('join')"  ></button>
<button *ngIf="showJoinedEvents && !showMyEvents" pButton type="button"
        label="QuitEvent"  (click)="showEventManagementDialog('quit')"  ></button>-->
<div class="container ui-grid-row">
<div class="ui-grid-col-6">
  <p-fullCalendar class="fc-basic-view"  #ucCalendar *ngIf="showCalendarView && events && events.length > 0 &&  Events && Events.length > 0 " [events]="Events" [options]="options"></p-fullCalendar>
</div> test{{calendarEvent}}
<!--
<div *ngIf="calendarEvent" style="border:1px solid #ccc;" class="ui-grid-col-6">
      <label >Event Name</label>
      {{calendarEvent.title}}
      <label >Event Start Date</label>
       {{calendarEvent.start}}
      <label >Event End Date</label>
       {{calendarEvent.end}}
      <label >Event Description</label>
       {{calendarEvent.def.extendedProps.description}}
    </div>
-->

</div>
<div *ngIf="!showCalendarView && events && events.length > 0">
  <p-table #dt [columns]="cols" [value]="events" [(selection)]="event" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">

      <div style="text-align: left">
        <p-tabMenu [model]="items" [activeItem]="items[0]"></p-tabMenu>
        <input  type="text" pInputText size="50" placeholder="Search"
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em"></th>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          {{col.header}}
          <input *ngSwitchCase="'name'" pInputText type="text"
                 (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
        </td>
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>

  </p-table>

</div>
