

body {
  font-family: "Arial", sans-serif;
  text-align: center;
}

main {
  text-align: left;
  width: 90%;
  margin: auto;
  display: inline-block;
}

.details-container{
  padding: 10px;
  width: 22%;
  float: left;
}

.calendar-container{
  padding: 10px;
  width:72%;
  float: left;
}

.add-button{
}


form {
    width: 50%;
  }

.form-group {
  margin: 10px;
}

.form-group-description {
  margin: 10px;
  margin-bottom: 30px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    width: 80px;
  }
  .eventButton{
    width: 150px;
  }

  .button-container{
    width: 100%;
    text-align: right;
  }

  .add-button-container{
    width: 100%;
    text-align: right;
  }

  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  .cancelbtn,
  .signupbtn {
    float: left;
    width: 50%;
  }

  .edit-button {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .cal-buttons {
    float: right;
  }

  .join-leave-buttons{
    float: left;
  }

  .container {
    padding: 8px;
    background-color: #ebebeb;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    -webkit-box-shadow: 0px 14px 21px -13px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 14px 21px -13px rgba(0,0,0,0.38);
    box-shadow: 0px 14px 21px -13px rgba(0,0,0,0.38);
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.mat-list-item:hover{
  background-color: #79b6e2;
}

.clear {
  clear: both;
}

.create {
  background-color: #aaa;
}

.mat-nav-list {
  width: 100%;
  text-align: center;
}

.mat-list-item {
  border-radius: 5px;
  background-color: #ebebeb;
  color: black;
  border: 1px solid #a9a9a9;
  width: 100%;
  -webkit-box-shadow: 0px 14px 21px -13px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 14px 21px -13px rgba(0,0,0,0.38);
  box-shadow: 0px 14px 21px -13px rgba(0,0,0,0.38);
}
  a {
    color: bisque;
  }

@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
