
<body>
<main>

  <p-dialog *ngIf="groupForm" header="EditGroupInfo" [(visible)]="displayGroupDialog" [modal]="true" [responsive]="true"
            [minY]="70" [style]="{width: '900px', height: '900px'}"
            [maximizable]="true" [baseZIndex]="10000">
    <span>
      <div class="login-wrap">
  <div class="login-html">
    <div class="login-form">
      <div class="sign-up-htm">
        <form [formGroup]="groupForm">
          <div class="group ui-grid-row">
            <div class="ui-grid-col-4" style="padding: 20px;">
              <label class="label">Group Name</label></div>
            <div class="ui-grid-col-6">
              <input pInputText class="input" type="text" formControlName="GroupName" placeholder="Required"/></div>
            <div class="ui-grid-col-6">
              <p-message severity="error" text="Event Name is required"
                         *ngIf="!groupForm.controls['GroupName'].valid&&groupForm.controls['GroupName'].dirty"></p-message>
            </div>
          </div>
          <div class="group ui-grid-row">
            <div class="ui-grid-col-4" style="padding: 20px;">
              <label class="label">Description</label></div>
            <div class="ui-grid-col-6">
              <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"  formControlName="Description" placeholder="Required"></textarea>
            </div>
            <div class="ui-grid-col-6">
              <p-message severity="error" text="description"
                         *ngIf="!groupForm.controls['Description'].valid&&groupForm.controls['Description'].dirty"></p-message>
            </div>
          </div>
        </form>
    </div>

    </div>
  </div>
</div>

    </span>
    <p-footer>
      <button class="eventButton" type="button"  pButton [disabled]="!groupForm.valid"
              (click)="submitGroup(groupForm.value)" label="EditGroup"></button>
      <button class="eventButton" type="button" pButton (click)="onCancel()" label="Cancel" ></button>
    </p-footer>
  </p-dialog>



  <!--<div-->

  <p-dialog *ngIf="eventForm" header="{{dialogTitle}}" [(visible)]="displayDialog" [modal]="true" [responsive]="true"
            [minY]="70" [style]="{width: '900px', height: '900px'}"
            [maximizable]="true" [baseZIndex]="10000">
    <span>
      <div class="login-wrap">
  <div class="login-html">
    <div class="login-form">
      <div class="sign-up-htm">
        <form [formGroup]="eventForm">
          <div class="group ui-grid-row">
            <div class="ui-grid-col-4" style="padding: 20px;">
              <label class="label">Event Name</label></div>
            <div class="ui-grid-col-6">
              <input pInputText class="input" type="text" formControlName="name" placeholder="Required"/></div>
            <div class="ui-grid-col-6">
              <p-message severity="error" text="Event Name is required"
                         *ngIf="!eventForm.controls['name'].valid&&eventForm.controls['name'].dirty"></p-message>
            </div>
          </div>
          <div class="group ui-grid-row">
            <div class="ui-grid-col-4" style="padding: 20px;">
              <label class="label">Event Start Date</label></div>
            <div class="ui-grid-col-6">
              <p-calendar formControlName="start" [showIcon]="true" showTime="true" hourFormat="24" showButtonBar="true" ></p-calendar>
            <div class="ui-grid-col-6">
              <p-message severity="error" text="Event Start Date is required"
                         *ngIf="!eventForm.controls['start'].valid&&eventForm.controls['start'].dirty"></p-message>
            </div>
          </div>
          </div>
           <div class="group ui-grid-row">
            <div class="ui-grid-col-4" style="padding: 20px;">
              <label class="label">Event End Date</label></div>
            <div class="ui-grid-col-6">
              <p-calendar formControlName="end" [showIcon]="true" showTime="true" hourFormat="24" showButtonBar="true" [minDate]="eventForm.value.start" ></p-calendar>
            <div class="ui-grid-col-6">
              <p-message severity="error" text="Event End Date is required"
                         *ngIf="!eventForm.controls['end'].valid&&eventForm.controls['end'].dirty"></p-message>
            </div>
          </div>
          </div>

          <div class="group ui-grid-row">
            <div class="ui-grid-col-4" style="padding: 20px;">
              <label class="label">Description</label></div>
            <div class="ui-grid-col-6">
              <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize"  formControlName="description" placeholder="Required"></textarea>
            </div>
            <div class="ui-grid-col-6">
              <p-message severity="error" text="description"
                         *ngIf="!eventForm.controls['description'].valid&&eventForm.controls['description'].dirty"></p-message>
            </div>
          </div>
        </form>
    </div>

    </div>
  </div>
</div>

    </span>
    <p-footer>
      <button class="eventButton" type="button" *ngIf="type === 'create'" pButton [disabled]="!eventForm.valid"
              (click)="onSubmit(eventForm.value)" label="Create"></button>
      <button class="eventButton" type="button" *ngIf="type==='modify'" pButton [disabled]="!eventForm.valid"
              (click)="onSubmit(eventForm.value)" label="Modify"></button>
      <button class="eventButton" type="button" pButton (click)="onCancel()" label="Cancel" ></button>
    </p-footer>
  </p-dialog>


  <div class="details-container">
    <h2> Group Details </h2>
    <div class="edit-button">
      <button pButton label="Edit" style="margin-left:.25em"></button>
    </div>
    <div class="container">
      <div class="button-container">
        <button pButton label="Edit" style="margin-left:.25em" (click)="showGroupDialog()" [disabled]="!(currentUserID===groupCreator)"></button>
      </div>
      <div class="form-group">
        <label >Group Name: </label>
        {{group? group.groupName : ""}}
      </div>
      <div class="form-group">
        <label >Created By: </label>
        {{group? group.creatorName: ""}}
      </div>
      <div class="form-group-description">
        <label >Description: </label>
        {{group? group.description : ""}}
      </div>

    </div>


    <h2> Users </h2>
    <!--<div class="button-container">-->
     <!--<button pButton class="add-button" label="Add" style="margin-left:.25em"></button>-->
     <!--</div>-->
  <mat-nav-list>
     <a mat-list-item *ngFor="let x of users" routerLink="/user/{{x.userID}}"> <p> {{ x.firstname + " " + x.lastname + " (" + x.username + ")"}} </p> </a>
  </mat-nav-list>

  </div>
  <div class="calendar-container">
    <h2> Group Calendar </h2>
    <div class="all-buttons">
      <div class="join-leave-buttons">
      <button *ngIf="!userInGroup" class="eventButton" type="button" style="margin: 10px" (click)="showManagementDialog('join')" pButton
              label="Join"></button>
      <button *ngIf="userInGroup" class="eventButton" type="button" style="margin: 10px" (click)="showManagementDialog('quit')" pButton
              label="Leave"></button>
      </div>
      <div class="cal-buttons">
      <button class="eventButton" type="button" style="margin: 10px" [disabled]="!userInGroup" (click)="showDialog('create')" pButton
              label="Create"></button>
      <button class="eventButton" type="button" style="margin: 10px" [disabled]="!(event && currentUserID===event.userID)" (click)="showDialog('modify')" pButton
              label="Modify"></button>
      <button class="eventButton" type="button" style="margin: 10px" [disabled]="!(event && currentUserID===event.userID)" (click)="showManagementDialog('del')" pButton
              label="Delete"></button>
          </div>
    </div>
    <div class="clear"> </div>
    <div class="container">
      <p-fullCalendar class="fc-basic-view"  #ucCalendar *ngIf="true " [events]="Events" [options]="options"></p-fullCalendar>
      <div *ngIf="event" style="margin: 10px" class="ui-grid-col-4">
        <div>
          <div class="form-group">
            <label style="font-weight: bolder">Event Name :</label>
            {{event.name}}
          </div>
          <div class="form-group">
            <label style="font-weight: bolder">Event Start Date :</label>
            {{event.start}}
          </div>
          <div class="form-group">
            <label style="font-weight: bolder">Event End Date :</label>
            {{event.end}}
          </div>
          <div class="form-group">
            <label style="font-weight: bolder">Event Description :</label>
            {{event.description}}
          </div>
        </div>
      </div>
    </div>

  </div>



  <p-dialog [(visible)]="displayMessageDialog">
    <h3>{{dialogMessage}}</h3>
    <div>
      <p-button label="Yes" (onClick)="choice('yes')"></p-button>
      <p-button label="No" (onClick)="choice('no')"></p-button>
    </div>
  </p-dialog>


</main>

</body>
