

<html>
<body>
  <main>
  <h1>Welcome to Planeto</h1>
    <div class="wrapper">
     <div class="content">
      <div class="logo-container">
        <img class="logo" src="assets/planeto.png"/>
        </div>
      <div class="container">
          <button class="login" pButton style="margin-left:.25em" type="button" label="Login" routerLink="/login"></button>
          <button class="register" pButton style="margin-left:.25em" type="button" label="Register" routerLink="/signup"></button>
      </div>
      </div>
     </div>
    </main>
  </body>

  </html>
